html {
  background-color: rgb(44, 145, 208);
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/bg-site.jpg");
  background-size: 250%;
  font-family: aktiv-grotesk, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
   background-image: url("../img/bg-title.jpg");
   font-family: ballers-delight, sans-serif;
   color: white;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  font-family: ballers-delight, sans-serif;
  color: white;
}

.yellow {
  text-shadow: -2px 2px #AEA900;
}

.purple {
  text-shadow: -2px 2px #9B55FF;
}

.green {
  text-shadow: -2px 2px #57d057;
}

.orange {
  text-shadow: -2px 2px #FFAA43;
}

.red {
  text-shadow: -2px 2px #FF80DD;
}

.blue {
  text-shadow: -2px 2px #207FCF;
}

p {
  background-color: #ffffffb0;
}

ol {
  background-color: #ffffffb0;
}

.food-box {
  background-color: #ffffffb0;
}

.food-box p {
  background-color: #ffffff00;
}

.street-food a {
  color: #000;
  text-decoration: none;
}

main {
  background-image: url("../img/bg-decoration.png");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #00000094;
  color: white;
}

footer p {
  background-color: #ffffff00;
}

.logo img {
  display: flex;
  width: 10%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer .mail {
  text-align: center;
}