html {
  background-color: rgb(44, 145, 208);
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/bg-site.jpg");
  background-size: 250%;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/bg-title.jpg");
  background-size: 113%;
  font-family: ballers-delight, sans-serif;
  color: white;
}

h1 {
  font-size: 12px;
  padding: 5px;
  margin-bottom: 100px;
}

a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

header nav {
  display: flex;
  padding-bottom: 13px;
  justify-content: space-around;
}

header a {
  font-size: 15px;
}

h2 {
  flex-wrap: nowrap;
  font-family: ballers-delight, sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 12px;
}

.yellow {
  text-shadow: -1.5px 1.5px #AEA900;
}

.purple {
  text-shadow: -1.5px 1.5px #9B55FF;
}

.green {
  text-shadow: -1.5px 1.5px #57d057;
}

.orange {
  text-shadow: -1.5px 1.5px #FFAA43;
}

.red {
  text-shadow: -1.5px 1.5px #FF80DD;
}

.blue {
  text-shadow: -1.5px 1.5px #207FCF;
}

p {
  background-color: #ffffffb0;
}

ol {
  background-color: #ffffffb0;
  list-style-type: none;
}

.food-box {
  background-color: #ffffffb0;
}

.food-box p {
  background-color: #ffffff00;
}

.street-food a {
  color: #000;
  text-decoration: none;
}

main {
  background-image: url("../img/bg-decoration.png");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #00000094;
  color: white;
}

footer h2 {
  margin-bottom: -5px;
  padding-top: 13px;
}

footer p {
  background-color: #ffffff00;
  margin-left: 35px;
}

.logo img {
  display: flex;
  width: 10%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px 30px 22px 0px;
}

footer .mail {
  text-align: center;
  margin-left: 0px;
  padding-bottom: 25px;
}