html {
  background-color: white;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/bg-site.jpg");
  background-size: 250%;
}

img {
  display: block;
  max-width: 100%;
}

header {
   background-image: url("../img/bg-title.jpg");
}

main {
  background-image: url("../img/bg-decoration.png");
  background-size: 200%;
  background-position: center;
}

footer {
  background-color: #00000094;
}